@import "node_modules/bootstrap/scss/_functions";
@import "node_modules/bootstrap/scss/_variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

$highlight-main: #e83e8c;
$highlight-tint: #fdedf4;
$highlight-shade: #c21766;

.entry-content {
    & > p:first-child {
        font-size: 1.5rem;
    }
}

.footer-container {
}

p {
    font-weight: 300;
}

strong {
    font-weight: 700;
}

code {
    border: 1pt $highlight-main solid;
    background-color: $highlight-tint;
}

a,
.list-group-item {
    color: $highlight-main;
}

a:hover,
.list-group-item:hover {
    color: $highlight-shade;

}

a:hover {
    text-decoration: underline;
}

.list-group-item {
    border: none;
}

.portfolio code {
    font-size: 0.65rem;
}

.portfolio-item {
    border-bottom: 1pt $gray-300 solid;
    column-gap: 8px;

    p {
        font-size: 0.8rem;
    }
}

.portfolio-item:last-child {
    border-bottom: 0pt $highlight-main solid;
}

.img-container {
    width: 100px;
    height: 100px;
    border: 1pt $highlight-main solid;
}

.badge-custom {
    background-color: $highlight-main;
    color: $white;
}

.tag {
    box-sizing: content-box;
}

.tag-reverse {
    border: 1pt $highlight-tint solid;
    background-color: $highlight-main;
    color: $highlight-tint;
}

.pacman {
    margin: 2rem 0 2rem 2rem;
}

.tagline {
    column-gap: 2px;
    row-gap: 2px;
}
